spring:
  application:
    name: mini-banking-system
  profiles:
    active: dev
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        default_schema: public
    open-in-view: false

server:
  port: 8080

logging:
  level:
    com.minibank: DEBUG
    org.hibernate.SQL: DEBUG
